<%= form_for(@referral) do |f| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referral.errors.count, "error") %> prohibited this referral from being saved:</h2>

      <ul>
      <% @referral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :orig_practice %><br>
    <%= f.collection_select :orig_practice_id, Practice.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :dest_practice %><br>
    <%= f.collection_select :dest_practice_id, Practice.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :patient %><br>
    <%= f.collection_select :patient_id, Patient.all, :id, :full_name, prompt: true   %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
